name: release packages

on:
  workflow_run:
    workflows: ["build llvm"]
    types:
      - completed
  workflow_dispatch: {}

jobs:
  release:
    name: "release"
    permissions:
      actions: read
      security-events: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: release
        uses: marvinpinto/action-automatic-releases@latest
        with:
          title: Continuous build
          automatic_release_tag: continuous
          prerelease: false
          draft: false
          files: |
            *.pkg.tar.*
          repo_token: ${{ secrets.GITHUB_TOKEN }}
